{% extends 'baselogin.html' %}
{% block title %} Contact details{% endblock title %}
{% block form %}


<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">


<br>
<br>
<h1>Contact Details</h1>

<div class="card p-3 align-items-center">
    <img src="/static/assets/img/99265.jpg" alt="" width="350" height="350">
    <br>
    <h3 class="Query text-dark style-italic "><a href="https://www.linkedin.com/in/thrambadia-vishal-439a8a218">Profile</a></h3>

</div>
</div>
<div class="col-md-4"></div>

</div>
{% endblock form %}

