{% extends 'withoutfooter.html' %} {% block title %} User SignUp {% endblock title
    %} {% block form %}
    </br>  
    </br> </br></br>
    <h2 style="font-family: Lucida Console;font-size:65px;color:rgb(15, 20, 20)" align="center"> Sign Up  </h2>
    <div class="row">
      <div class="col-md-4"></div>
    
      <div class="col-md-4">
        <form action="/usersignup" method="post">
            {% include "message.html" %}
          <div class="form-group">
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Enter the register id(must remember)"
              name="orp"
              required
            />
          </br>
          </div>
          <div class="form-group">
                <input
                  type="email"
                  class="form-control mt-2"
                  placeholder="Enter the EMAIL ID"
                  name="email"
                  required
                />
              </br>
          </div>
          <div class="form-group">
                <input
                  type="date"
                  class="form-control mt-2"
                  placeholder="Enter DOB"
                  name="dob"
                  required
                />
              </br>
          </div>
          
          <button type="submit" class="btn btn-info">SignIn</button>
        </form>
        <a class="Text-Success" href="/userlogin" style=color:black;position:absolute;right:440px;top:420px;> Click here to Login</a>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </div>
      
    
      <div class="col-md-4"></div>
    </div>
    
    {% endblock form %}
    